<ul class="property">
    <li>Encargado: <%=property.user.email%> </li>
    <li>Direccion: <%=property.address%> </li>
    <li>Area: <%=property.area%>m<sup>2</sup> </li>
    <li>Habitaciones: <%=property.rooms%> </li>
    <li>Baños: <%=property.toilets%> </li>
    <li>Precio: <%=property.price%> </li>
    <% if property.uploads.attached? %>
        <li>imagenes</li>
        <ul>
            <% property.uploads.each do |upload| %>
            <li> <%= link_to upload.filename, upload, target: '_blank' %> <br/> </li>
            <% end %>
        </ul>
    <% else %>
        <li>sin imagenes</li>
    <% end %>
    <li><span> <%= button_to "editar", edit_property_path(property.id), method: :get %> </span> <br/> <span> <%= button_to "eliminar", delete_property_path(property.id), form: { data: { turbo_confirm: "¿Seguro que quiere borrarlo?" } }, method: :delete %> </span></li>
</ul>
<br/>
<br/>